body{
    background: rgb(111, 180, 226);
    position: relative;
}
.aviso1{
    width: 100%;
    position: relative;
    bottom: 50%;
    background: black;
    
}
.trump{
    width: 50%;
    margin: 0 auto;
}
.aviso {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: darkgrey;
    color: ghostwhite;
    text-align: center;
    padding-bottom: 1rem;
}
.imagen{
    width: 30%;
    /* position: absolute; */
    position: absolute;
    left: 35%;
}
img{
    width: 100%;
}