.content-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.datos {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: bisque;
    min-height: 10vh;
    padding: 1rem 3rem;
}

dt {
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    color: brown;
}

table {
    width: 100%;
}
th {
    width: calc(100%/3)
}

.tabla-title {
    background-color: brown;
    color: bisque
}